* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(31, 31, 31);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    padding: 15px;
}

i {
    font-size: 100px;
    color: yellowgreen;
    margin: 5px;
}

button {
    border: none;
}

#header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    font-family: 'Rock 3D', cursive;
    font-size: 70px;
    font-weight: 100;
    margin: 15px;
}

.player-section-container {
    display: flex;
    align-items: center;
}

.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: white solid 1px;
    width: 250px;
    height: 300px;
    margin: 30px;
}

.player-container>img {
    height: 165px;
}

#vs {
    font-size: 70px;
    color: greenyellow;
}

.player-name {
    padding: 10px 0px;
    border-top: white solid 2px;
    border-bottom: white solid 2px;
    width: inherit;
    text-align: center;
    background-color: greenyellow;
    color: rgb(31, 31, 31);
}

.score {
    font-weight: bold;
}

.play-history {
    font-size: 20px;
}

#subheader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subheader-item {
    margin: 15px;
}

.play-btn {
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-family: 'Dosis', sans-serif;
    font-size: 35px;
    color: rgb(31, 31, 31);
    background-color: greenyellow;
}

#btn-container {
    display: flex;
    justify-content: center;
}

#btn-container p {
    font-size: 15px;
    color: yellowgreen;
}

.game-btn {
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    cursor: pointer;
}

#results-container {
    margin: 15px;
    text-align: center;
}

#end-result {
    color: yellowgreen;
    font-size: 35px;
}

#game-started {
    text-align: center;
}

#end-game {
    text-align: center;
}

.end-game-item {
    margin: 15px;
}

.hide {
    display: none;
}

#footer,
#footer i {
    font-size: 15px;
    margin-top: auto;
}

#footer a:link,
#footer a:active {
    text-decoration: none;
    color: white;
}

#footer a:hover,
#footer a:visited {
    text-decoration: none;
    color: yellowgreen;
}